{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des Plants</title>
    <link rel="stylesheet" href="{% static 'css/annuler_reporter.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>

    <body>
        <h2>Annuler ou Reporter la Fiche</h2>
        <p>Que souhaitez-vous faire pour la plante souhaitée {{ plant.id_essence_n}} ?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="choix" value="annuler" class="btn btn-danger">Annuler</button>
            <button type="submit" name="choix" value="reporter" class="btn btn-warning">Reporter</button>
        </form>
    </body>
        <p>
        <a href="{% url 'liste_plants_pour_ilot' ilot.ilo_id_n %}" class="btn btn-success" > ← retour plants souhaité</a> 
        </p>
    </body>
</html>