{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Formulaire Chantier</title>


    <!-- Ton CSS -->
    <link rel="stylesheet" href="{% static 'css/liste.css' %}"> <!-- Si Django -->

</head>
<body>
      <h2>liste chantiers</h2>
      <a  href="{% url 'ajouter_chantier' %}">Ajouter un chantier</a>
<table border="1">
    <thead>
        <tr>
            <th>Type</th>
            <th>Commune</th>
            <th>Surface</th>
            <th>Société</th>
            <th>Important</th>
            <th>stade reboisement</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for c in chantiers %}
        <tr>
            <td>{{ c.type_chantier }}</td>
            <td>{{ c.id_insee }}</td>
            <td>{{ c.surface }}</td>
            <td>{{ c.societe }}</td>
            <td>{{ c.important|yesno:"Oui,Non" }}</td>
            <td>{{ c.etat_id_n }}</td>
          <td>
        <a class="btn btn-ajouter" href="{% url 'ajouter_travaux_chantier' c.id_chantier_sylviculture_n %}">Ajouter travaux</a>
        <a class="btn btn-voir" href="{% url 'voir_travaux_chantier' c.id_chantier_sylviculture_n %}">Voir travaux</a>
        <a class="btn btn-voir" href="{% url 'liste_ilots' c.id_chantier_sylviculture_n %}" class="btn-success btn-sm">Voir îlots</a>
        <a class="btn btn-ajouter" href="{% url 'modifier_chantier' c.id_chantier_sylviculture_n %}">Modifier</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">Aucun chantier disponible.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>

